[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python -m redman"
build = "python setup.py sdist"
#upload = "twine upload --repository pypi dist/*"

[packages]
texttable = "1.6.3"
fire = "0.4.0"
pyyaml = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.9"
