[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python -m redman"

[packages]
plumbum = "*"
texttable = "*"

[dev-packages]

[requires]
python_version = "3.9"
